<!-- for deleting a comment -->
<div id="comment_id_<%=comment.id%>">
    <!-- user will only be able to delete his own comments -->
    <% if(locals.user&&locals.user.id==comment.user.id){ %>
    <div class="dropdown">
        <a class="float-right" href="" id="more_options<%=comment.id%>" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fas fa-ellipsis-h"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="more_options<%=comment.id%>">
            <a class="dropdown-item delete-comment-button" href="/comments/destroy/<%=comment.id%>"><i
                    class="fas fa-trash-alt"></i>
                Delete</a>
        </div>
    </div>
    <%}%>


    <b><%=comment.user.name%></b>
    <p>
        <%=comment.content%>
    </p>

    <div class="align-middle action-buttons">
        <!-- like button on post -->
        <%if(locals.user){%>
        <a href="/likes/toggle/?id=<%=comment._id%>&type=Comment" id="like-<%=comment._id%>" class="like-buttons"
            data-likes="<%=comment.likes.length%>" data-toggle="false"><i class="far fa-heart"></i>
            <span><%=comment.likes.length%></span> </a> &nbsp
        <%}else{%>
        <%=comment.likes.length%> Likes
        <%}%>
        <!-- comment button on post -->
        <a data-toggle="collapse" href="#collapse<%=comment._id%>" role="button" aria-expanded="false"
        aria-controls="collapse<%=comment._id%>"><i class="far fa-comment"></i></a>&nbsp
        <!-- send button on post -->
        <a href=""><i class="fas fa-paper-plane"></i></a>
    </div>

    <hr>
</div>