<!-- for loop for comment cards -->
<div class="card w-100 mt-3 mb-2" id="post_<%=post._id%>">
    <div class="card-body">

        <!-- options to delete a post and stuff -->
        <% if(locals.user&&locals.user.id==post.user.id){ %>
        <div class="dropdown">
            <a class="float-right" href="" id="more_options<%=post._id%>" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fas fa-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="more_options<%=post._id%>">
                <a class="dropdown-item delete-post-button" href="/posts/destroy/<%=post.id%>"><i
                        class="fas fa-trash-alt"></i>
                    Delete</a>
            </div>
        </div>
        <%}%>


        <h5 class="card-title"><%=post.user.name%></h5>
        <p class="card-text"><%=post.content%></p>
        <div class="card-text mt-2"><small><%=post.user.updatedAt.toString().substr(0, 15)%></small></div>
        <hr>

        <div class="align-middle action-buttons">
            <!-- like button on post -->
            <%if(locals.user){%>
            <a href="/likes/toggle/?id=<%=post._id%>&type=Post" id="like-<%=post._id%>" class="like-buttons"
                data-toggle="false" data-likes="<%=post.likes.length%>"><i class="far fa-heart"></i>
                <span><%=post.likes.length%></span> </a>
            &nbsp&nbsp&nbsp
            <%}else{%>
            <%=post.likes.length%> Likes&nbsp&nbsp
            <%}%>
            <!-- comment button on post -->
            <a data-toggle="collapse" href="#collapse<%=post._id%>" role="button" aria-expanded="false"
            aria-controls="collapse<%=post._id%>"><i class="far fa-comment"></i></a>&nbsp&nbsp&nbsp
            <!-- send button on post -->
            <a href=""><i class="fas fa-paper-plane"></i></a>
        </div>
    </div>
    <div class="collapse post-comments mr-2 ml-2" id="collapse<%=post._id%>">
        <%if(locals.user){%>
        <form action="/comments/create" method="POST" class="new-comment-form">
            <input type="text" class="form-control" placeholder="Add a new Comment..." aria-label="Username"
                aria-describedby="basic-addon1" name="content" required>
            <input type="hidden" name="post" value="<%=post._id%>">
            <button type="submit" class="btn btn-primary btn-sm mt-2 mb-2 mr-2">Add Comment</button>
        </form>
        <!-- comments list container -->
        <hr>
        <div class="post-comments-lister-list pl-4 pr-4">
            <div id="post-comments-<%=post._id%>">
                <%for(comment of post.comments){%>

                <%- include('_comment') -%>

                <%}%>
            </div>
        </div>
        <%}else{%>
                <p>Please Log In to see Comments!</p>
                <%}%>
    </div>
</div>