<section id="feed-posts" class="col-sm-6 offset-sm-3 mt-4">
    <%if(locals.user){%>
    <form action="/posts/create" id="new-post-form" method="POST">
        <div class="form-group mb-1">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" cols=1 name="content"
                placeholder="What's on your mind?" required></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary mb-2 float-right">Post</button>
        </div>
    </form>
    <%}%>
    <div id="posts-container">
        <% let itr=0; for(let post of locals.posts){ %>
    <!-- for loop for comment cards -->
    <div class="card w-100 mt-3 mb-2">
        <div class="card-body">


            <% if(locals.user&&locals.user.id==post.user.id){ %>
            <div class="dropdown">
                <a class="float-right" href="" id="more_options<%=itr%>" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fas fa-ellipsis-h"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="more_options<%=itr%>">
                    <a class="dropdown-item" href="/posts/destroy/<%=post.id%>"><i class="fas fa-trash-alt"></i> Delete</a>
                </div>
            </div>
            <%}%>


            <h5 class="card-title"><%=post.user.name%></h5>
            <p class="card-text"><%=post.content%></p>
            <div class="card-text mt-2"><small><%=post.user.updatedAt.toString().substr(0, 15)%></small></div>
            <hr>
            <a href=""><i class="far fa-heart"></i></a>&nbsp&nbsp&nbsp
            <a data-toggle="collapse" href="#collapse<%=itr%>" role="button" aria-expanded="false"
                aria-controls="collapse<%=itr%>"><i class="far fa-comment"></i></a>&nbsp&nbsp&nbsp
            <a href=""><i class="fas fa-paper-plane"></i></a>
        </div>
        <div class="collapse post-comments mr-2 ml-2" id="collapse<%=itr%>">
            <%if(locals.user){%>
            <form action="/comments/create" method="POST">
                <input type="text" class="form-control" placeholder="Add a new Comment..." aria-label="Username"
                    aria-describedby="basic-addon1" name="content" required>
                <input type="hidden" name="post" value="<%=post._id%>">
                <button type="submit" class="btn btn-primary btn-sm mt-2 mb-2 mr-2">Add Comment</button>
            </form>
            <div class="post-comments-lister-list pl-4 pr-4">
                <div id="post-comments-<%=post._id%>">
                    <%for(let comment of post.comments){%>
                    <b><%=comment.user.name%></b>
                    <p>
                        <%=comment.content%>
                    </p>
                    <hr>
                    <%}%>
                </div>
            </div>
            <%}else{%>
                    <p>Please Log In to see Comments!</p>
                    <%}%>
        </div>
    </div>
    <%itr++;}%>
                </div>

</section>