<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/layout.css">
    <%- style %>
</head>

<body>
    
    <%- include('_header') %>
    <%- body %>
    <%- include('_footer') %>
    
    <%- script %>
</body>

</html>