<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!-- bootstrap -->
    <!-- // Bootstrap CSS library -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- // jQuery library -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- // JS library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <!-- // Latest compiled JavaScript library -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Animate.CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />

    <!-- FONT AWESOME -->
    <script src="https://kit.fontawesome.com/2d9b67a497.js" crossorigin="anonymous"></script>

    <!-- NOTY for flash notifications -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>

    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- custom CSS -->
    <link rel="stylesheet" type="text/css" href="<%=assetPath('css/layout.css')%>">
    <link rel="stylesheet" type="text/css" href="<%=assetPath('css/header.css')%>">
    <link rel="stylesheet" type="text/css" href="<%=assetPath('css/footer.css')%>">
    <link rel="stylesheet" type="text/css" href="<%=assetPath('css/home.css')%>">
    <link rel="stylesheet" type="text/css" href="<%=assetPath('css/user_sign_up_and_in_style.css')%>">
    <%- style %>
</head>

<body>


    <%- include('_header') %>

    <main id="layout-main">
        <%- body %>
    </main>

    <%- include('_footer') %>


    <!-- custom SCRIPT -->
    <%- script %>

    <!-- NOTY -->
    <script>
        /* for success messages */
        <%if (locals.flash.success && locals.flash.success.length > 0)
        {%>
            new Noty({
                theme: 'metroui',
                text: "<%=locals.flash.success%>",
                type: 'success',
                layout: 'topRight',
                timeout: 3000,
            }).show();
        <%}%>
        /* for error messages */
        <%if (locals.flash.error && locals.flash.error.length > 0)
        {%>
            new Noty({
                theme: 'metroui',
                text: "<%=locals.flash.error%>",
                type: 'error',
                layout: 'topRight',
                timeout: 3000,
            }).show();
        <%}%>
    </script>
</body>

</html>