<link rel="stylesheet" href="/css/user_profiles.css">


<section class="col-sm-8 offset-sm-2">
    <h1>This is the profile of <%=locals.profile_user.name%></h1>

    <%if(profile_user.id==user.id){%>
    <!-- if user matches then show the form to change the details else only show the profile info -->
    <form action="/users/update/<%=profile_user.id%>" method="POST">
        <div class="form-group">
            <label for="name">New Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="name" name="name"
                value="<%=profile_user.name%>" required>
        </div>
        <div class="form-group">
            <label for="email">New Email</label>
            <input type="email" class="form-control" id="email" name="email" required value="<%=profile_user.email%>">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>



    <%}else{%>
    <p>
        <%=locals.profile_user.name%>
    </p>
    <p>
        <%=locals.profile_user.email%>
    </p>

    <%}%>
</section>